div.frams {
	text-align: center;
	outline-color: black;
	outline-width: thin;
}

span.big {
	font-size: 40px;
}

span.box {
	color: black;
	border-color: black;
	border-width: thin;
	outline-width: thin;
}

label.fig {
	font-size: 40px;
}

label.col {
	font-size: 40px;
}

img {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}