body {
	font-family: georgia;
	color: #ffffff;
}

#header {
	padding: 10px;
	margin: 5px;
	
	background-color: #ff3b30;
}

#footer {
	background-color: #007aff;

	text-align: center;

	padding: 10px;
	margin: 5px;
}

#sidebarL {
	width: 150px;

	padding: 10px;
	margin: 5px;
	margin-top: 0px;

	/*border-color: black;
	border-style: solid;
	border-width: 2px;*/

	background-color: #4cd964;

	float: left;
}

#sidebarR {
	width: 150px;

	padding: 10px;
	margin: 5px;
	margin-top: 0px;

	/*border-color: black;
	border-style: solid;
	border-width: 2px;*/

	background-color: #ff9500;

	float: right;
}

#content {
	/*font-size: 10px;*/
	/*background-color: #007aff;*/
	font-family: courier;
	background-color: #555555;

	padding: 10px;
	margin: 5px;
	margin-right: 180px;
	margin-left: 180px;
}

/*a:link {
	color: #ffcc00;
}

a:visited {
	color: #ffcc00;
}	

a:hover {
	color: #ffcc00;
}*/

/*.link {
	width: 100px;
	border-style: solid;
	border-width: 1px;
	background-color: #aaaaaa;
}*/